body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #3b5998;
  color: #ffff;
  padding: 10px;
  
}

.left-col {
  background-color: royalblue;
  position: relative;
  overflow: auto;
  width: 70%;
}

.right-col {
  background-color: rgb(34, 34, 34);
  color: #fff;
  width: 30%;
}